/* ================================================== */
/* Global
/* ================================================== */
@mixin rounded($radius: 5px) 
{
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

@mixin shadow($horizontal: 0, $vertical: 0, $blur: 5px, $color: rgba(0,0,0,0.5)) 
{
	-moz-box-shadow: $horizontal $vertical $blur $color;
	-webkit-box-shadow: $horizontal $vertical $blur $color;
	box-shadow: $horizontal $vertical $blur $color;
}

@mixin transition($property: all, $speed: 0.2s, $motion: linear) 
{
	-moz-transition: $property $speed $motion;
	-o-transition: $property $speed $motion;
	-ms-transition: $property $speed $motion;
	-webkit-transition: $property $speed $motion;
	transition: $property $speed $motion;
}

$georgia-stack: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
$franklin-stack: "Franklin Gothic Medium", "Arial Narrow Bold", Arial, sans-serif; 

.error { color: #D81028; }

body
{
	background: #555;
	color: #bcbcbc;
	text-shadow: #333 1px 1px 0px;
	font-family: $georgia-stack;
	padding: 30px;
}

a
{
	color: #bcbcbc;
	@include transition;
	
	&:hover { color: #3da7dd; }
}

h1
{
	a
	{
		&.stat-select
		{
			color: #656565;
			
			&:hover { color: #3da7dd; }
		}
	}
}

h3
{
	margin-bottom: 8px;
}

input
{
	&.short
	{
		width: 30px;
	}
}

table
{
	tr
	{
		&:hover 
		{ 
			background-color: #666; 
			cursor: default;
		}
		
		&.header
		{
			background-color: #666;
		}
	}
	
	td
	{
		padding: 2px 3px;
		text-align: center;
		font-size: 0.9em
	}
	
	th
	{
		text-align: center;
		vertical-align: middle;
		width: 200px;
		padding: 2px 3px;
		font-size: 0.7em;
		font-weight: 700;
		text-transform: uppercase;
	}
}

.query
{
	margin: 10px 0;
}

.results
{
	margin-top: 30px;
}

li
{
	list-style: none;
}

#debug
{
	//display: none;
	margin-top: 50px;
}
