// Place all the styles related to the Stats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.results
{
	margin-top: 30px;
}

h3
{
	margin-bottom: 8px;
}

input
{
	&.short
	{
		width: 30px;
	}
}

table
{
	tr
	{
		&:hover 
		{ 
			background-color: #666; 
			cursor: default;
		}
	}
	
	td
	{
		padding: 2px 3px;
	}
	
	th
	{
		text-align: left;
		text-decoration: underline;
		width: 200px;
		padding-bottom: 5px;
	}
}

.top_ten
{
	width: 400px;
	margin-top: 30px;
	border: 1px solid;
	padding: 10px;	
}

#debug
{
	display: none;
	margin-top: 50px;
}