@import 'global';

body.stats {
  td {
    a {
      color: #bcbcbc;
      text-decoration: none;
      @include transition;

      &:hover { color: #3da7dd; }
    }
  }

  .league-filter {
    margin-top: 15px;

    h3 {
      display: inline-block;
      width: 80px;
      color: #bcbcbc;
    }

    ul {
      display: inline-block;

      li {
        display: inline-block;
        margin-right: 15px;
      }
    }
  }
}
